  <!--header start-->
    <header class="header black-bg">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>
      <!--logo start-->
      <a href="index.html" class="logo"><b>Foot<span>Ball</span></b></a>
      <!--logo end-->
      <div class="nav notify-row" id="top_menu">
        <!--  notification start -->
        <ul class="nav top-menu">
          <!-- notification dropdown start-->
          <li id="header_notification_bar" class="dropdown">
            <a  class="dropdown-toggle" th:href="@{/admin/comments}">
              <i class="fa fa-bell-o"></i>
              <span class="badge bg-warning" th:text="${count_admin_cmnts}" />
              </a>
          </li>
          <!-- notification dropdown end -->
        </ul>
        <!--  notification end -->
      </div>
      <div class="top-menu">
        <ul class="nav pull-right top-menu">
          <li><a class="logout" th:href="@{/admin/auth/logout}">Logout</a></li>
        </ul>
      </div>
    </header>
    <!--header end-->