<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:include="admin/layouts/header.html"></th:block>

  <link  th:href="@{/lib/bootstrap-wysihtml5/bootstrap-wysihtml5.css}" rel="stylesheet">
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper site-min-height">
        <h3><i class="fa fa-angle-right"></i> Articles</h3>
        <div class="row mt">
          <div class="col-lg-12">
			
			 
			            



          </div>
        </div>
      </section>
      <!-- /wrapper -->
    </section>
    <!-- /MAIN CONTENT -->
    <!--main content end-->
  

<th:block th:include="admin/layouts/footer.html"></th:block>

  </script>
</html>
