
    
  </div>

  <script th:src="@{/blog/js/jquery-3.3.1.min.js}"></script>
  <script th:src="@{/blog/js/jquery-migrate-3.0.1.min.js}"></script>
  <script th:src="@{/blog/js/jquery-ui.js}"></script>
  <script th:src="@{/blog/js/popper.min.js}"></script>
  <script th:src="@{/blog/js/bootstrap.min.js}"></script>
  <script th:src="@{/blog/js/owl.carousel.min.js}"></script>
  <script th:src="@{/blog/js/jquery.stellar.min.js}"></script>
  <script th:src="@{/blog/js/jquery.countdown.min.js}"></script>
  <script th:src="@{/blog/js/jquery.magnific-popup.min.js}"></script>
  <script th:src="@{/blog/js/bootstrap-datepicker.min.js}"></script>
  <script th:src="@{/blog/js/aos.js}"></script>

  <script th:src="@{/blog/js/main.js}"></script>


  </body>